//.dialogs {
//  display: flex;
//  flex-direction: row;
//  max-width: 100%;
//  height: 100%;
//  border: $gray solid 1px;
//  border-radius: 25px;
//
//  &__users {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    width: 30%;
//    border-right: $gray solid 1px;
//    //background-color: blue;
//  }
//
//  &__messages {
//    display: flex;
//    flex-direction: column;
//    height: 100%;
//    width: 70%;
//    //background-color: red;
//  }
//}

//.dialogList {
//  display: flex;
//  flex-direction: column;
//
//  &__title {
//    font-family: Lexend-Semibold;
//    font-size: 16px;
//    color: $gray;
//    margin: 15px auto;
//    //border-bottom: $gray solid 3px;
//  }
//
//  &__users {
//  display: flex;
//    flex-direction: column;
//
//  }
//}

//.user{
//  display: flex;
//  flex-direction: row;
//  padding: 10px 0 10px 25px;
//  border-top: $gray solid 1px;
//  cursor: pointer;
//    &:nth-child(1){
//      border-top: orange solid 3px;
//    }
//    &:nth-last-child(1){
//      border-bottom: $gray solid 1px;
//    }
//    &__name{
//      font-family: Lexend-Regular;
//      font-size: 20px;
//      color: $gray;
//      & > a{
//        text-decoration: none;
//        &:link{
//          color: $gray;
//        }
//        &:visited{
//          color: $gray;
//        }
//        &:hover{
//          color: orange;
//        }
//      }
//    }
//}

.allMessages{
  //display: flex;
  //flex-direction: column;
    &__title{
      //font-family: Lexend-Semibold;
      //display: flex;
      //margin: 15px auto;
      //font-size: 16px;
      //color: $gray;
    }
    &__item{
      //display: flex;
      //flex-direction: row;
      //padding: 10px 0 10px 25px;
      ////border-top: black solid 1px;
      //&:nth-child(1){
      //  border-top: orange solid 3px;
      //}
    }
    &__input{
      display: flex;
      flex-direction: row;
      margin: 20px 10px;
      height: 80px;
      border: $gray solid 0.2px;
      border-radius: 25px;
      align-items: baseline;
      & > textarea {
        border: none;
        outline: none;
        font-family: Lexend-Medium;
        margin: 7px 0 0 15px;
        padding: 0;
        color: $gray;
        width: 95%;
        height: 85%;
        resize: none;
      }
    }
    &__button{
      display: flex;
      flex-direction: row;
      justify-content: end;
      margin-right: 10px;
      margin-bottom: 15px;
    }
}

//.blockMessage{
//  display: flex;
//  flex-direction: row;
//  width: 100%;
//  height: 100%;
//    &__photo{
//      width: 50px;
//      height: 50px;
//      border: black solid 1px;
//      border-radius: 100px;
//      background-color: blue;
//      //padding-left: 10px;
//    }
//    &__text{
//      display: flex;
//      flex-direction: row;
//      margin: 0 10px;
//
//      flex-grow: 1;
//      border: $gray solid 1px;
//      border-radius: 10px;
//      padding: 5px 20px 5px 10px;
//      & > span {
//        font-family: Lexend-Regular;
//        color: #635e50;
//        font-size: 16px;
//        flex-grow: 1;
//      }
//    }
//}