.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.formWrapper{
  display: flex;
  flex-direction: column;
  width: 500px;
}
.buttonWrapper{
  margin-top: 5px;
  width: 80px;
  height: 30px;
}
.input{
  margin-bottom: 5px;
}
.checkBox{
  display: flex;
  flex-direction: row;
}