.myFriends {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
  "title title title"
  "list list filter";
  grid-template-rows: 30px 1fr;
  box-sizing: border-box;

  &__title {
    padding: 0 0 0 30px;
    grid-area: title;
    font-family: 'Lexend-Semibold';
    font-size: 28px;
    color: $gray;
    letter-spacing: 1px;
  }

  &__list {
    padding: 0 15px;
    grid-area: list;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 755px;
    height: 100%;
  }

  &__filter {
    grid-area: filter;
    border: $gray solid 1px;
    margin-top: 15px;
    height: 500px;
    width: 190px;
    border-radius: 15px;
  }
}

.blockFriend {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  flex-grow: 1;
  max-width:740px;
  max-height: 106.44px;

  &__photo {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    overflow: hidden;
    & > img {
      width: 80px;
      height: 80px;
      border-radius: 80px;
    }
  }

  &__description {
    padding-left: 20px;
    display: grid;
    width: 70%;
    height: 100%;
    grid-template-areas:
    'name name name name'
    'stat stat stat country'
    'stat stat stat city'
  }
  &__button{
    margin-left: auto;
  }
}
.description{
  &__name{
    grid-area: name;
    font-family: Lexend-Medium;
    color: $gray;
  }
  &__stat{
    grid-area: stat;
    font-family: Lexend-Regular;
    color: $gray;
  }
  &__country{
    grid-area: country;
    justify-self: end;
    align-self:start;
    font-family: Lexend-Medium;
    color: $gray;
  }
  &__city{
    justify-self:end;
    grid-area: city;
    align-self: start;
    font-family: Lexend-Medium;
    color: $gray;

  }
}
.buttonAdd{
  @include buttonAdd;
}
.activePage{
  font-weight: bold;
  cursor: pointer;
  color: orange;
  font-family: Lexend-Regular;
  font-size: 24px;
}
.disabledPage{
  font-size: 18px;
  cursor: pointer;
  padding: 0 7px;
  font-family: Lexend-Regular;
  color: $gray;
}

.pages{
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 40px;
  align-items: center;
  user-select: none;
  &__points {
    font-size: 18px;
    font-family: Lexend-Regular;
    color: $gray;
  }
}