@import "src/scss/font/font";
@import "src/scss/vars/vars";
@import "src/scss/mixin/mixin";

.wrapperUsers {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  border-right: $gray solid 1px;
}

.title {
  font-family: Lexend-Semibold;
  font-size: 16px;
  color: $gray;
  margin: 15px auto;
}

.users {
  display: flex;
  flex-direction: column;
}
