.settingPosition{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
}

.superInput {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    user-select: none;
}


.wrapperInput{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgba(112, 115, 124, 1) 1px solid;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    user-select: none;

}
.errorWrapper {
    background: rgba(186, 117, 130, 0.3);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    user-select: none;
}

.input{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    user-select: none;
}
.errorInput{
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    user-select: none;
}

.necessarySpan{
    position: absolute;
    font-size: 20px;
    right: -10px;
    bottom: 5px;
    color: rgba(192, 44, 70, 1);
    user-select: none;
}

.errorSpan {
    position: absolute;
    margin-left: 5%;
    color: rgba(192, 44, 70, 1);
    font-size: 14px;
    right: 0;
    bottom:100%;
    user-select: none;
}