ul{
  margin-left: 0;
  padding-left: 0;
}
li{
  list-style-type: none;
    & > a{
      text-decoration: none;
        &:visited{
          color: $gray;
        }
        &:hover{
          color: orange;
          //text-decoration: underline;
        }
    }
}


.nav{
  grid-area: n;
  margin: 0 10px 0 0;
  background: white;
  border-radius: 15px;
  padding-bottom: 175px;
  height: 80%;
    &__elem{
      font-family: 'Lexend-Medium' ;
      margin: 5px 0 0 10px;
      font-size: 16px;
      color: $gray;
      cursor: pointer;


    }
}

