ul{
  margin-left: 0;
  padding-left: 0;
}
li{
  list-style-type: none;
}

.app-wrapper{
  display: grid;
  grid-template-areas:
  "h h h"
  "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  margin: 10px 50px;
}

.header{
  grid-area: h;
  border: black solid 1px;
  background-color: red;
}

.nav{
  grid-area: n;
  border: black solid 1px;
  background-color: aqua;
}

.content{
  grid-area: c;
  border: black solid 1px;
  background-color: coral;
}