@font-face {
  font-family: "Lexend-Regular";
  src: url(../font/Lexend-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-Semibold";
  src: url(../font/Lexend-SemiBold.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-Light";
  src: url(../font/Lexend-Light.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lexend-Medium";
  src: url(../font/Lexend-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}
