ul{
  margin-left: 0;
  padding-left: 0;
}
li{
  list-style-type: none;
}


.nav{
  grid-area: n;
  //border: black solid 1px;
  margin: 0 0 0 10px;
    &__elem{
      font-family: 'Lexend-Medium' ;
      margin: 5px 0 0 10px;
      font-size: 16px;
      color: $gray;


    }
}

