@import "font/font";
@import "vars/vars";
@import "mixin/mixin";
@import "header/header";
@import "navigation/navigation";
@import "profile/content";
@import "messages/messages";
@import "friends/friends";


.app-wrapper {
  display: grid;
  grid-template-areas:
  "h h h"
  "n c c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1203px;
  margin: 0 auto;
}

.app-wrapper__content{
  grid-area: c;
  margin: 0 10px 0 20px;
}




