@import "font/font";
@import "vars/vars";
@import "mixin/mixin";
@import "header/header";
@import "navigation/navigation";
@import "profile/content";
@import "messages/messages";
@import "friends/friends";
@import "preloader/preloader";


.app-wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
  "h h h"
  "n c c"
  'f f f';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 1203px;
  height: 110vh;
  margin: 0 auto;

}

.app-wrapper__content{
  grid-area: c;
  height: 80%;
  padding: 20px 25px 155px 0 ;
  background: white;
  border-radius: 15px;
}
.footer{
  grid-area: f;
  min-height: 50px;
  background: white;
  border-radius: 15px 15px 0 0 ;
  position: absolute;
  width: 1203px;
  bottom: 0;
}




